@import "all.css";
*
{
	box-sizing:border-box;
}
body
{
	display:flex;
	flex-direction:column;
	margin:0;
}
header
{
	background-color:yellowgreen;
	width:100%;
	display:flex;
}
#menu ul
{
	list-style:none;
	display:flex;
}
#menu ul li a
{
	text-decoration:none;
}
#social ul
{
	list-style:none;
	display:flex;
}
#logo
{
	margin:auto;
}