#idfh1
	{
		color:#000099;
		font-size:30px;
		text-decoration:underline #000066 solid;
}
#idf1
	{
		color:red;
		font-size:20px;
		}
#idf2
	{
		color:red;
		font-size:15px;
		font-family:Lucida Handwriting;
		}
		
#idfy
	{
		color:blue;
		font-size:20px;
		}
#idfh2
	{
		color:green;
		font-size:20px;
		text-decoration:underline #03b923 solid;
		}