#idfh1
	{
		color:#000099;
		font-size:30px;
		text-decoration:underline #000066 solid;
		text-shadow:2px 2px 3px red;
}
#idf1
	{
		color:red;
		font-size:20px;
		}
#idf2
	{
		color:red;
		font-size:15px;
		font-family:Lucci;
		}
#idf3
	{
		font-size:19px;
		color:blue;
	}
		
#idfy
	{
		color:blue;
		font-size:20px;
		}
#idfh2
	{
		color:green;
		font-size:23px;
		text-decoration:underline #03b923 solid;
		text-shadow:2px 2px 2px yellow;
		}
#idi1
	{	width:600px;
		box-shadow:3px 3px 2px 2px blue;
		}
@font-face
	{
		font-family:lucci;
		src:url(fonts/LHANDW.TTF)
	}